.dateShow{
  text-align:left;
  border-style: solid;
  font-size: 25px;
  width: 210px;
  margin-top: -20px;
}

.week_Days{
text-align: center;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}
